body {
  background-color: #ecedee;
}

.main {
  margin: 0px 5px
}

.carpark-card-wide.mdl-card {
  <!--width: 480px;-->
}

.carpark-title {
  width: 60%;
  float: left;
}

.carpark-spaces {
  <!--margin-top: 0.5em;-->
  float: right;
}

.carpark-card-wide > .mdl-card__menu {
  color: #fff;
}

.risk-Low {
  background: rgb(76,175,80) !important;
}

.risk-Medium {
  background-color: rgb(255,152,0) !important;
}

.risk-High {
  background-color: rgb(244,67,54) !important;
}

.risks {
  text-align: center;
}